<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 
	<link rel="stylesheet" href="/css/profile.css" type="text/css" media="all">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	

</head>
<body>
  <div class="container">
		<div class="main-body">
			<div class="row">
	
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
								<div class="mt-3">
									<h3><%= data.username %></h3>
									<h6> email :  <%= data.email %></h6>
									<h6>phone :  <%= data.phone %></h6>


									
										   <p class="text-secondary mb-1">
                                      <i class="fa-shopping-bag" style="margin-right: 5px;"></i>
                                      <span style="font-weight: 600; color: black; font-size: 1.2em;">Wallet Amount:<%=walletBalance %></span>
                                  </p>
                                 
                                  
                                     
									
									
									<button type="button" class="btn btn-primary">
										<a href="/editprofile" class="text-white" style="text-decoration: none;">Edit Profile</a>
									</button>

									

									<button type="button" class="btn btn-primary">
										<a href="/resetpassword" class="text-white" style="text-decoration: none;">Reset password</a>
									</button>
									
									
									<button type="button" class="btn btn-primary">
										<a href="/walletpage" class="text-white" style="text-decoration: none;">My Wallet</a>
									</button>
									

									
								
										<form action="/showorders" method="get">
											<button class="btn top_googles_cart" type="submit">My Orders</button>
										</form>
									
										
									

											
										
										
									
							</div>
								
							</div>
							<hr class="my-4">
							
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card">
						<form action="/addaddress" method="get">
							
						<div class="card-body">
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Full Name :</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<span>  
										<%= data.username %>
									</span>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Email :</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<span><%= data.email %></span>
									 
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Phone :</h6>
								</div>
								<div class="col-sm-9 text-secondary">
<span>									<%= data.phone %>
</span>								</div>
							</div>
							
							<div class="row mb-3">
								<div class="col-sm-3">
										<h6 class="mb-0">Address :</h6>
								</div>
								<div class="col-sm-9 text-secondary">
										<% data.address.forEach((address)=> { %>
												<div>
														<p>Street: <%= address.street %></p>
														<p>City: <%= address.city %></p>
														<p>State: <%= address.state %></p>
														<p>Pincode: <%= address.pincode %></p>
														<p>Country: <%= address.country %></p><br>

													
														<a href="/editaddress">editaddress </a>

														</form>
														<!-- Add other address fields as needed -->
												</div>
										<% }); %>
								</div>
						</div>
						
							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-9 text-secondary">
									
									<input type="submit" class="btn btn-primary px-4" value="ADD ADDRESS">
								</form>
								

								
								
							</div>
							</div>
						</div>
					</div>
					
				</div>

			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>