<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Goggles Ecommerce Category Bootstrap responsive Web Template | Checkout :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Goggles a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/login_overlay.css" rel='stylesheet' type='text/css' />
    <link href="css/style6.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/shop.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/checkout.css">
    <link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-...your-integrity-hash-here..." crossorigin="anonymous" />

    <style>
        body {
            font-family: ' Verdana', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <div class="banner-top container-fluid" id="home">

        <header>
            <div class="row">
                <div class="col-md-3 top-info text-left mt-lg-4">
                    <h6>Need Help</h6>
                    <ul>
                        <li>
                            <i class="fas fa-phone"></i> Call</li>
                        <li class="number-phone mt-3">12345678099</li>
                    </ul>
                </div>
                <div class="col-md-6 logo-w3layouts text-center">
                    <h1 class="logo-w3layouts">
                        <a class="navbar-brand" href="/">Glassy </a>
                    </h1>
                </div>

                <div class="col-md-3 top-info-cart text-right mt-lg-4">
                    <ul class="cart-inner-info">
                        <li class="button-log">
                            <a class="btn-open" href="/profile">
                                <span class="fa fa-user" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="galssescart galssescart2 cart cart box_1">
                            <form action="/logout" method="post" class="last">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="display" value="1">
                                <button class="top_googles_cart" type="submit" name="submit" value="">
                                    Logout
                                    <i class="fas fa-cart-arrow-down"></i>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">
                <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>

        </header>

        <div class="banner_inner">
            <div class="services-breadcrumb">
                <div class="inner_breadcrumb">
                    <ul class="short">
                        <li>
                            <a href="/">Home</a>
                            <i>|</i>
                        </li>
                        <li>my orders </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <section class="h-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-8">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-header px-4 py-5">

                        </div>
                        <div class="card-body p-4">

                            <% if (orderItems.length === 0) { %>
                            <h2>Order is Empty</h2>
                            <% } else { %>
                            <% orderItems.slice().reverse().forEach(item => { %>

                            <div class="card shadow-0 border mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="/images/<%= item.product.image[0]%>" class="border rounded me-3" style="width: 96px; height: 96px;" />
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0"><%=item.product.name%></p>
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small"><%=item.paymentmethod%></p>
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">Qty: <%=item.quantity%></p>
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">₹<%= item.product.price %></p>
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">
                                                <a href="/invoice/<%= item._id %>" class="btn btn-outline-primary btn-sm" download="invoice.pdf">Invoice</a>
                                            </p>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <% if (item.status !== 'Cancelled') { %>
                                            <% if (item.status === 'Delivered') { %>

                                            <% const sevenDaysAgo = new Date(); %>
                                            <% sevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7); %>
                                            <% if (new Date(item.orderDate) > sevenDaysAgo && item.status !== 'Returned') { %>

                                            <% } %>
                                            <div class="col-md-6">
                                                <form action="/feedback/<%= item.product._id %>" method="post" class="d-flex">
                                                    <div class="me-3">
                                                        <div class="mb-3">
                                                            <label for="feedbackTextArea" class="form-label">Feedback</label>
                                                            <textarea class="form-control" id="feedbackTextArea" name="feedback" rows="3" required></textarea>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="ratingSelect" class="form-label">Rating</label>
                                                            <select class="form-select" id="ratingSelect" name="rating" required>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>
                                                        <div class="ms-auto">
                                                            <button type="submit" class="btn btn-primary">Submit Feedback</button>
                                                        </div>
                                                    </div>
                                                </form>
																							</div>
																							<div class="col-md-2 text-center d-flex justify-content-center align-items-center">
																								</div>
                                                <a href="/returnOrder/<%= item._id %>" class="btn btn-outline-primary">Return</a>

                                            <% } else if (item.status === 'Return requested') { %>
                                            <p class="text-success mb-0 small">Return requested</p>
                                            <% } else if (item.status === 'Rejected') { %>
                                            <p class="text-danger mb-0 small">Return Rejected</p>
                                            <% } else if (item.status === 'Returned') { %>
                                            <p class="text-success mb-0 small">Return Approved</p>
                                            <% } else { %>
                                            <a href="/cancelOrder/<%= item._id %>" class="btn btn-outline-primary">Cancel Order</a>
                                            <% } %>
                                            <% } else { %>
                                            <p class="text-muted mb-0 small">Cancelled</p>
                                            <% } %>
                                        </div>
                                    </div>

                                    <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">

                                    <div class="row d-flex align-items-center">
                                        <div class="col-md-2">
                                            <p class="text-muted mb-0 small">Track Order</p>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="progress" style="height: 6px; border-radius: 16px;">
                                                <div class="progress-bar" role="progressbar" style="width:
                                        <% 
                                        switch (item.status) {
                                        case 'Pending':
                                            %>0<%
                                            break;
                                        case 'Order Confirmed':
                                            %>25<%
                                            break;
                                        case 'Shipped':
                                            %>50<%
                                            break;
                                        case 'Out For Delivery':
                                            %>75<%
                                            break;
                                        case 'Delivered':
                                            %>100<%
                                            break;
                                        default:
                                            %>0<%
                                        }
                                        %>%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="<%
                                        switch (item.status) {
                                        case 'Pending':
                                            %>0<%
                                            break;
                                        case 'Order Confirmed':
                                            %>25<%
                                            break;
                                        case 'Shipped':
                                            %>50<%
                                            break;
                                        case 'Out For Delivery':
                                            %>75<%
                                            break;
                                        case 'Delivered':
                                            %>100<%
                                            break;
                                        default:
                                            %>0<%
                                        }
                                        %>%" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>

                                            <div class="d-flex justify-content-around mb-1">
                                                <p class="text-muted mt-1 mb-0 small ms-xl-5"></p>
                                                <p class="text-muted mt-1 mb-0 small ms-xl-5"><%=item.status%></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <% }) %>
                            <% } %>
					
						 
	
							<!-- <div class="d-flex justify-content-between pt-2">
								<p class="fw-bold mb-0">Order Details</p>
								<p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> $898.00</p>
							</div>
	
							<div class="d-flex justify-content-between pt-2">
								<p class="text-muted mb-0">Invoice Number : 788152</p>
								<p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> $19.00</p>
							</div>
	
							<div class="d-flex justify-content-between">
								<p class="text-muted mb-0">Invoice Date : 22 Dec,2019</p>
								<p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 123</p>
							</div>
	
							<div class="d-flex justify-content-between mb-5">
								<p class="text-muted mb-0">Recepits Voucher : 18KU-62IIK</p>
								<p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
							</div>
						</div>
						<div class="card-footer border-0 px-4 py-5"
							style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
							<h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
								paid: <span class="h2 mb-0 ms-2">$1040</span></h5>
								
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</section>


	<!--footer -->
	<footer class="py-lg-5 py-3">
		<div class="container-fluid px-lg-5 px-3">
			<div class="row footer-top-w3layouts">
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>About Us</h3>
					</div>
					<div class="footer-text">
						<p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at
							tellus. Nulla porttitor accumsana tincidunt.</p>
						<ul class="footer-social text-left mt-lg-4 mt-3">

							<li class="mx-2">
								<a href="#">
									<span class="fab fa-facebook-f"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-twitter"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-google-plus-g"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-linkedin-in"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fas fa-rss"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-vk"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Get in touch</h3>
					</div>
					<div class="contact-info">
						<h4>Location :</h4>
						<p>0926k 4th block building, king Avenue, New York City.</p>
						<div class="phone">
							<h4>Contact :</h4>
							<p>Phone : +121 098 8907 9987</p>
							<p>Email :
								<a href="mailto:info@example.com">info@example.com</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Quick Links</h3>
					</div>
					<ul class="links">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="about.html">About</a>
						</li>
						<li>
							<a href="404.html">Error</a>
						</li>
						<li>
							<a href="shop.html">Shop</a>
						</li>
						<li>
							<a href="contact.html">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Sign up for your offers</h3>
					</div>
					<div class="footer-text">
						<p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
						<form action="#" method="post">
							<input class="form-control" type="email" name="Email" placeholder="Enter your email..." required="">
							<button class="btn1">
								<i class="far fa-envelope" aria-hidden="true"></i>
							</button>
							<div class="clearfix"> </div>
						</form>
					</div>
				</div>
			</div>
			<div class="copyright-w3layouts mt-4">
				<p class="copy-right text-center ">&copy; 2018 Goggles. All Rights Reserved | Design by
					<a href="http://w3layouts.com/"> W3layouts </a>
				</p>
			</div>
		</div>
	</footer>
	<!-- //footer -->
	<!--jQuery-->

	
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- newsletter modal -->
	<!--search jQuery-->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="js/classie-search.js"></script>
	<script src="js/demo1-search.js"></script>
	<!--//search jQuery-->
	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script>
		googles.render();

		googles.cart.on('googles_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>



	<!-- //cart-js -->
	<script>
		$(document).ready(function () {
			$(".button-log a").click(function () {
				$(".overlay-login").fadeToggle(200);
				$(this).toggleClass('btn-open').toggleClass('btn-close');
			});
		});
		$('.overlay-close1').on('click', function () {
			$(".overlay-login").fadeToggle(200);
			$(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
			open = false;
		});
	</script>
	<!-- carousel -->
	<!-- easy-responsive-tabs -->
	<script src="js/easy-responsive-tabs.js"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default',           
				width: 'auto',
				fit: true, 
				closed: 'accordion', 
				activate: function (event) { 
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>
	<!--quantity-->
	<script>
		$('.value-plus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) + 1;
			divUpd.text(newVal);
		});

		$('.value-minus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) - 1;
			if (newVal >= 1) divUpd.text(newVal);
		});
	</script>
	<!--quantity-->
	<!--close-->
	<script>
		$(document).ready(function (c) {
			$('.close1').on('click', function (c) {
				$('.rem1').fadeOut('slow', function (c) {
					$('.rem1').remove();
				});
			});
		});
	</script>
	<script>
		$(document).ready(function (c) {
			$('.close2').on('click', function (c) {
				$('.rem2').fadeOut('slow', function (c) {
					$('.rem2').remove();
				});
			});
		});
	</script>
	<script>
		$(document).ready(function (c) {
			$('.close3').on('click', function (c) {
				$('.rem3').fadeOut('slow', function (c) {
					$('.rem3').remove();
				});
			});
		});
	</script>
	<!--//close-->

	<!-- dropdown nav -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //dropdown nav -->
	<script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function() {
           

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->
		


	<script src="js/bootstrap.js"></script>
	<!-- js file -->
</body>

</html>